<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title> 尝试写一个Vue的双向数据绑定</title>
  <script src='https://unpkg.com/nprogress@0.2.0/nprogress.js'></script>
  <link rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css' />
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/github-markdown.css">
  <link rel="stylesheet" type="text/css" href="../css/prism.css">
  <link rel="stylesheet" type="text/css" href="../css/blog_index.css">
</head>

<body scroll="no">
  <header>
    <nav class="nav">
      <ul class="title clear">
        <a href="../resume.html">
          小乐
        </a>
        <a href="./index.html">
          博客
        </a>
        <a href="./tag.html">
          归档
        </a>
        <a href="https://juejin.im/user/5b7627036fb9a00974743264" class="big-media">
          <img src="http://oys4ga3zg.bkt.clouddn.com/%E6%8E%98%E9%87%91.png" alt="">
        </a>
        <a href="https://i.csdn.net/#/uc/profile" class="big-media">
          <img src="http://oys4ga3zg.bkt.clouddn.com/CSDN.png" alt="">
        </a>
        <a href="https://duantengyuan.github.io/blog/" class="big-media">
          <img src="http://oys4ga3zg.bkt.clouddn.com/github.png" alt="">
        </a>
      </ul>
    </nav>
  </header>
  <div class="body-content clear">
    <section class="person-left-content">
      <div class="detail-content">
        <div class="header">
          <h1>
            尝试写一个Vue的双向数据绑定
          </h1>
        </div>
        <div class="readers">
          阅读量<span id="busuanzi_value_page_pv"></span>
        </div>
        <div class="type clear">
          <span class="span_button"> vue</span><span class="span_button"> 源码</span>
        </div>
        <div class="content markdown-body">
          <h1 id="-vue-">尝试写一个Vue的双向数据绑定</h1>
          <h2 id="-">前言</h2>
          <p>在目前的前端面试中，vue的双向数据绑定已经成为了一个非常容易考到的点，即使不能当场写出来，至少也要能说出原理。</p>
          <p>###原理</p>
          <p>Vue的双向数据绑定的原理主要是通过 Object对象的defineProperty属性，重写data的set和get函数来实现的,这里对原理不做过多描述，有兴趣的可以看我源码分析，主要还是来实现一个实例。为了使代码更加的清晰，这里只会实现最基本的内容，主要实现v-model，v-bind 和v-click三个命令，其他命令也可以自行补充。</p>
          <p><img src="../images/20190912.png" alt=""></p>
          <p>###实现</p>
          <p>页面结构很简单，我这里用了jade语法，使页面结构更加清晰</p>
          <pre><code>#app
  form
    input(type=&quot;text&quot; v-model=&quot;number&quot;)
      button(type=&quot;button&quot; v-click=&quot;increment)
  h3(v-bind=&quot;number&quot;)
</code></pre>
          <p>其中包含了</p>
          <p>一个input --- 使用v-model</p>
          <p>一个button --- 使用v-click</p>
          <p>一个h3 --- 使用v-bind</p>
          <p>我们最后会通过类似于vue的方式来使用我们的双向数据绑定，结合我们的数据结构添加注释：</p>
          <pre><code>var app = new myVue({
    el:&#39;#app&#39;,
    data:(
        number: 0
    ),
    methods: {
        increment: function() {
            this.number++
        }
    }
})

</code></pre>
          <p>首先我们需要定义一个myVue构造函数：</p>
          <pre><code>function myVue (options) { }
</code></pre>
          <p>为了初始化这个构造函数，给它添加一个 _init 属性：</p>
          <pre><code>    function myVue(options) {
      this._init(options)
    }
    myVue.prototype._init = function (options) {
      this.$options = options  // options 为上面使用时传入的结构体，包括el,data,methods
      this.$el = document.querySelector(options.el)  // el是 #app, this.$el是id为app的Element元素
      this.$data = options.data; // this.$data = {number: 0}
      this.$methods = options.methods; // this.$methods = {increment: function(){}}
    }
</code></pre>
          <p>接下来实现监听函数 _obverse ，对data进行处理，重写data的set和get函数：</p>
          <pre><code>myVue.prototype._obverse = function (obj) { // obj = {number: 0}
    var value;
    for (key in obj) {  //遍历obj对象
      if (obj.hasOwnProperty(key)) {
        value = obj[key]; 
        if (typeof value === &#39;object&#39;) {  //如果值还是对象，则遍历处理
          this._obverse(value);
        }
        Object.defineProperty(this.$data, key, {  //关键
          enumerable: true,
          configurable: true,
          get: function () {
            console.log(`获取${value}`);
            return value;
          },
          set: function (newVal) {
            console.log(`更新${newVal}`);
            if (value !== newVal) {
              value = newVal;
            }
          }
        })
      }
    }
  }

 myVue.prototype._init = function (options) {
    this.$options = options;
    this.$el = document.querySelector(options.el);
    this.$data = options.data;
    this.$methods = options.methods;

    this._obverse(this.$data);
  }
</code></pre>
          <p>接下来我们写一个指令类Watcher，用来绑定更新函数，实现对DOM元素的更新</p>
          <pre><code>function Watcher(name, el, vm, exp, attr) {
    this.name = name;         //指令名称，例如文本节点，该值设为&quot;text&quot;
    this.el = el;             //指令对应的DOM元素
    this.vm = vm;             //指令所属myVue实例
    this.exp = exp;           //指令对应的值，本例如&quot;number&quot;
    this.attr = attr;         //绑定的属性值，本例为&quot;innerHTML&quot;

    this.update();
  }

  Watcher.prototype.update = function () {
    this.el[this.attr] = this.vm.$data[this.exp]; //比如 H3.innerHTML = this.data.number; 当number改变时，会触发这个update函数，保证对应的DOM内容进行了更新。
  }
</code></pre>
          <p> 更新_init函数以及_obverse函数</p>
          <pre><code> myVue.prototype._init = function (options) {
    //...
    this._binding = {};   //_binding保存着model与view的映射关系，也就是我们前面定义的Watcher的实例。当model改变时，我们会触发其中的指令类更新，保证view也能实时更新
    //...
  }

  myVue.prototype._obverse = function (obj) {
    //...
      if (obj.hasOwnProperty(key)) {
        this._binding[key] = {    // 按照前面的数据，_binding = {number: _directives: []}                                                                                                                                                  
          _directives: []
        };
        //...
        var binding = this._binding[key];
        Object.defineProperty(this.$data, key, {
          //...
          set: function (newVal) {
            console.log(`更新${newVal}`);
            if (value !== newVal) {
              value = newVal;
              binding._directives.forEach(function (item) {  // 当number改变时，触发_binding[number]._directives 中的绑定的Watcher类的更新
                item.update();
              })
            }
          }
        })
      }
    }
  }
</code></pre>
          <p>那么如何将view与model进行绑定呢？接下来我们定义一个_compile函数，用来解析我们的指令（v-bind,v-model,v-clickde）等，并在这个过程中对view与model进行绑定。</p>
          <pre><code> myVue.prototype._init = function (options) {
   //...
    this._complie(this.$el);
  }

myVue.prototype._complie = function (root) { root 为 id为app的Element元素，也就是我们的根元素
    var _this = this;
    var nodes = root.children;
    for (var i = 0; i &lt; nodes.length; i++) {
      var node = nodes[i];
      if (node.children.length) {  // 对所有元素进行遍历，并进行处理
        this._complie(node);
      }

      if (node.hasAttribute(&#39;v-click&#39;)) {  // 如果有v-click属性，我们监听它的onclick事件，触发increment事件，即number++
        node.onclick = (function () {
          var attrVal = nodes[i].getAttribute(&#39;v-click&#39;);
          return _this.$methods[attrVal].bind(_this.$data);  //bind是使data的作用域与method函数的作用域保持一致
        })();
      }

      if (node.hasAttribute(&#39;v-model&#39;) &amp;&amp; (node.tagName == &#39;INPUT&#39; || node.tagName == &#39;TEXTAREA&#39;)) { // 如果有v-model属性，并且元素是INPUT或者TEXTAREA，我们监听它的input事件
        node.addEventListener(&#39;input&#39;, (function(key) {  
          var attrVal = node.getAttribute(&#39;v-model&#39;);
           //_this._binding[&#39;number&#39;]._directives = [一个Watcher实例]
           // 其中Watcher.prototype.update = function () {
           //    node[&#39;vaule&#39;] = _this.$data[&#39;number&#39;];  这就将node的值保持与number一致
           // }
          _this._binding[attrVal]._directives.push(new Watcher(  
            &#39;input&#39;,
            node,
            _this,
            attrVal,
            &#39;value&#39;
          ))

          return function() {
            _this.$data[attrVal] =  nodes[key].value; // 使number 的值与 node的value保持一致，已经实现了双向绑定
          }
        })(i));
      } 

      if (node.hasAttribute(&#39;v-bind&#39;)) { // 如果有v-bind属性，我们只要使node的值及时更新为data中number的值即可
        var attrVal = node.getAttribute(&#39;v-bind&#39;);
        _this._binding[attrVal]._directives.push(new Watcher(
          &#39;text&#39;,
          node,
          _this,
          attrVal,
          &#39;innerHTML&#39;
        ))
      }
    }
  }
</code></pre>
          <p>至此，我们已经实现了一个简单vue的双向绑定功能，包括v-bind, v-model, v-click三个指令。</p>
          <p>附上全部代码，不到150行</p>
          <pre><code>&lt;!DOCTYPE html&gt;
&lt;template lang=&quot;pug&quot;&gt;
    head
      title myVue
    body
      #app
        form
          input(type=&quot;text&quot; v-model=&quot;number&quot;)
            button(type=&quot;button&quot; v-click=&quot;increment)
        h3(v-bind=&quot;number&quot;)
&lt;/template&gt;
&lt;style&gt;
  #app {
    text-align: center;
  }
&lt;/style&gt;
&lt;script&gt;
  function myVue(options) {
    this._init(options);
  }

  myVue.prototype._init = function (options) {
    this.$options = options;
    this.$el = document.querySelector(options.el);
    this.$data = options.data;
    this.$methods = options.methods;

    this._binding = {};
    this._obverse(this.$data);
    this._complie(this.$el);
  }

  myVue.prototype._obverse = function (obj) {
    var value;
    for (key in obj) {
      if (obj.hasOwnProperty(key)) {
        this._binding[key] = {                                                                                                                                                          
          _directives: []
        };
        value = obj[key];
        if (typeof value === &#39;object&#39;) {
          this._obverse(value);
        }
        var binding = this._binding[key];
        Object.defineProperty(this.$data, key, {
          enumerable: true,
          configurable: true,
          get: function () {
            console.log(`获取${value}`);
            return value;
          },
          set: function (newVal) {
            console.log(`更新${newVal}`);
            if (value !== newVal) {
              value = newVal;
              binding._directives.forEach(function (item) {
                item.update();
              })
            }
          }
        })
      }
    }
  }

  myVue.prototype._complie = function (root) {
    var _this = this;
    var nodes = root.children;
    for (var i = 0; i &lt; nodes.length; i++) {
      var node = nodes[i];
      if (node.children.length) {
        this._complie(node);
      }

      if (node.hasAttribute(&#39;v-click&#39;)) {
        node.onclick = (function () {
          var attrVal = nodes[i].getAttribute(&#39;v-click&#39;);
          return _this.$methods[attrVal].bind(_this.$data);
        })();
      }

      if (node.hasAttribute(&#39;v-model&#39;) &amp;&amp; (node.tagName == &#39;INPUT&#39; || node.tagName == &#39;TEXTAREA&#39;)) {
        node.addEventListener(&#39;input&#39;, (function(key) {
          var attrVal = node.getAttribute(&#39;v-model&#39;);
          _this._binding[attrVal]._directives.push(new Watcher(
            &#39;input&#39;,
            node,
            _this,
            attrVal,
            &#39;value&#39;
          ))

          return function() {
            _this.$data[attrVal] =  nodes[key].value;
          }
        })(i));
      } 

      if (node.hasAttribute(&#39;v-bind&#39;)) {
        var attrVal = node.getAttribute(&#39;v-bind&#39;);
        _this._binding[attrVal]._directives.push(new Watcher(
          &#39;text&#39;,
          node,
          _this,
          attrVal,
          &#39;innerHTML&#39;
        ))
      }
    }
  }

  function Watcher(name, el, vm, exp, attr) {
    this.name = name;         //指令名称，例如文本节点，该值设为&quot;text&quot;
    this.el = el;             //指令对应的DOM元素
    this.vm = vm;             //指令所属myVue实例
    this.exp = exp;           //指令对应的值，本例如&quot;number&quot;
    this.attr = attr;         //绑定的属性值，本例为&quot;innerHTML&quot;

    this.update();
  }

  Watcher.prototype.update = function () {
    this.el[this.attr] = this.vm.$data[this.exp];
  }

  window.onload = function() {
    var app = new myVue({
      el:&#39;#app&#39;,
      data: {
        number: 0
      },
      methods: {
        increment: function() {
          this.number ++;
        },
      }
    })
  }
&lt;/script&gt;
</code></pre>
          <div class="timer">
            2019-09-12
          </div>
          <!-- <div class="view-cnt">（111 人已阅）</div> -->
        </div>
        <div class="my-pay">
          <div class="my-pay-btn">打赏</div>
          <div class="my-pay-type clear">
            <div class="my-pay-alipay my-pay-div"></div>
            <div class="my-pay-weixin my-pay-div"></div>
          </div>
        </div>
      </div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
      <div id="container"></div>
      <script>
        var gitment = new Gitment({
          id: location.href, // 可选。默认为 location.href
          owner: 'hua1995116',
          repo: 'myblog',
          oauth: {
            client_id: '814dc8bc817d0a663020',
            client_secret: 'ae232061068d5844c3665b55e34d7d5edb220113',
          },
        })
        gitment.render('container')
      </script>
    </section>
    <section class="person-right-content">
      <div class="person-title">
        <div class="person-title-img"></div>
        <div class="person-title-name">秘小乐</div>
        <div class="person-title-desc">2年前端开发经验，对前沿知识保持充分对的好奇。</div>
        <div class="person-title-tag">
          <a href="https://juejin.im/user/5b7627036fb9a00974743264">
            <img src="http://oys4ga3zg.bkt.clouddn.com/c-juejin.png" alt="">
          </a>
          <a href="https://i.csdn.net/#/uc/profile">
            <img src="http://oys4ga3zg.bkt.clouddn.com/c-CSDN.png" alt="">
          </a>
          <a href="https://duantengyuan.github.io/blog/">
            <img src="http://oys4ga3zg.bkt.clouddn.com/c-github.png" alt="">
          </a>
        </div>
      </div>
      <div class="person-tag person-title clear">
      </div>
    </section>
  </div>
  <!-- <div class="blog-bottom">
  <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
</div> -->
  <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <script type="text/javascript" src="../js/prism.js"></script>
  <script src="../js/axios.js"></script>
  <script>
    NProgress.start();
    window.onload = function() {
      NProgress.done();
    }
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?f12dade0d0c1d020a5c06231f05b9f65";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      var myPayBtn = document.querySelector('.my-pay-btn');
      var myPayType = document.querySelector('.my-pay-type');
      var btnShow = true;
      myPayBtn.addEventListener('click', function() {
        if (btnShow) {
          myPayType.style.display = 'block';
          btnShow = false;
        } else {
          myPayType.style.display = 'none';
          btnShow = true;
        }
      });
    })();
    axios.get('../json/tagdata.json')
      .then(function(response) {
        data = response.data;
        handletag(data);
      })
      .catch(function(error) {
        console.log(error);
      });

    function handletag(taglist) {
      var personTag = document.querySelector('.person-tag');
      var html = '';
      for (var i in taglist) {
        html += '<div class="person-tag-list">' + i + '</div>';
      }
      personTag.innerHTML = html;
    }
  </script>

</body>

</html>